body{
	font-family: Tahoma;
}
h1,h2,h3,h4{
	font-family: Tahoma;
}

h2 {
	font-size: 16pt;
}
h3 {
	font-size: 13pt;
}
li {
	list-style: none;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
div#sidebar ul{
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: solid 1px #ccc;
	padding: 5px 5px 5px 5px;
	background-color: #f0f0f0;
}

div#sidebar ul li {
	border-bottom: solid 1px #ccc;
}
div#sidebar ul li a.selected {
	color: #ffffff;
	text-shadow: 0 1px 1px rgba(0,0,0,0.25);
	text-decoration: none;
	background-color: #333;
}

div#sidebar ul li a {
	display: block;
	padding: 5px 5px 5px 10px;
	/*width: 183px;*/
	vertical-align: middle;
	height: 26px;
	line-height: 16px;
	text-decoration: none;
	color: #333;
	text-shadow: 0 1px 1px rgba(255,255,255,0.5);
	/*font-weight: 600;*/	
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 6px 0 6px 6px;
}
div#sidebar ul li a:hover {
	background-color: #ccc;
}
table a {
	color: #3a3a3a;
	display: inline-block;
	padding: 9px 8px 7px 80px;
	line-height: 18px;
	width: 100%;
}
.header {
	background-color: #E9F2FA;
	vertical-align: middle;
	padding: 10px;
	color:maroon;
}
.form-horizontal .form-group {
	margin-left: 10px;
}
.error {
	font-size: x-small;
	color: red;
}